@import "tailwindcss";

@theme {
  --color-osint-dark: #111116;
  --color-osint-card: #1a1a20;
  --color-osint-accent: #00dc82;
  --color-osint-secondary: #3b82f6;
  --color-osint-text: #e2e8f0;
  --color-osint-muted: #71717a;
  --color-osint-text-muted: #a1a1aa;
  --color-osint-border: #27272a;
  --color-osint-bg: #09090b;

  --font-mono: "Fira Code", monospace;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-osint-dark text-osint-text font-sans antialiased;
  /* Metallic Gradient Base */
  background-image: linear-gradient(135deg, #09090b 0%, #18181b 100%);
  background-attachment: fixed;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-osint-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-osint-card rounded-full;
}


/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 30s linear infinite;
}

.pause-on-hover:hover {
  animation-play-state: paused;
}