@import "tailwindcss";

@theme {
  --color-osint-dark: #000000;
  --color-osint-card: #0a0a0a;
  --color-osint-accent: #00dc82;
  --color-osint-secondary: #3b82f6;
  --color-osint-text: #e5e5e5;
  --color-osint-muted: #737373;

  --font-mono: "Fira Code", monospace;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-osint-dark text-osint-text font-sans antialiased;
  background-image: linear-gradient(to right, #00dc8208 1px, transparent 1px), linear-gradient(to bottom, #00dc8208 1px, transparent 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-osint-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-osint-card rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-osint-accent;
}