@import "tailwindcss";

@theme {
  --color-osint-dark: #030014;
  --color-osint-card: #0f0b29;
  --color-osint-accent: #a855f7;
  --color-osint-secondary: #ec4899;
  --color-osint-text: #e2e8f0;
  --color-osint-muted: #94a3b8;

  --font-mono: "Fira Code", monospace;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-osint-dark text-osint-text font-sans antialiased;
  background-image: radial-gradient(circle at 50% 0%, #2e1065, #030014);
  background-attachment: fixed;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-osint-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-osint-card rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-osint-accent;
}